<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center; 
            background-color: rgb(232, 79, 105);
            color: white;
            background-image: url('https://img.freepik.com/premium-photo/two-pink-hearts-background-lights-form-hearts-concept-love_573856-78.jpg?w=2000');
        }
        form{
            display: flex;
            flex-direction: column; 
        }
        h1{
            font-size: 50px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-top: 20%;
        }
        h3{
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-top: 10%;
            color: aqua;
        }
        input{
            padding: 10px 30px;
            font-size: 20px;
            border-radius: 20px;
            border: 3px solid black;
            text-align: center;
            margin-top: 20%; 
            border-color: beige;
        }
        button{
            margin: 25% 20%;
            padding: 20px 40px;
            font-size: 30px;
            border-radius: 60px;
            color: white;
            background-color: rgb(223, 37, 37); 
            border-color: red;
        }
    </style>
</head>
<body>
    <h3>Artificial Intelligence</h3>
    <h1>Love Calcuator</h1 >
    <form method="post" action="/"> 
        <input type="text" required name="fname" placeholder="Enter Your Name"> 
        <input type="text" required name="sname" placeholder="Enter Your Partners Name">
        <button>Check</button>
    </form>
</body>
</html>  